@page "/empty-tree"

<PageTitle>Empty Tree</PageTitle>

<h1>Empty tree</h1>

<button class="btn btn-primary" style="margin-bottom: 0.5rem;" @onclick=@OnResetClick>
  Reset
</button>

<div style="border: solid black 4px; margin-left: 5rem; margin-right: 5rem;">
  <DefaultFamilyTree @ref=@_familyTree TreeId="empty"/>
</div>

@code
{
  private DefaultFamilyTree _familyTree = null!;

  private async Task OnResetClick() => await _familyTree.ResetAsync();
}
